
body {
  background-image: url("../images/giphy.gif");
  background-size: 40em;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: #061113;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}

header {
  /* background-color: #333;  */
}
a:hover{
  transform: scale(1.1);
  animation: ease .3s;
  opacity: .6;
}
#logo{
  padding-left: 1em;
}



  

aside#searchContainer {
  width: 30%;
  height: 50%;
  margin: 300px auto 0;
  text-align: center;
  
}
input{
  border-radius: 10px;
  color: white;
  
}

button {
  background-color:#757575;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
  animation: ease .3s;
  opacity: .5;
}



#resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
  min-width: 100%;
}

#wikiArticle {
  
  margin: 23em 0 auto;
  margin-bottom: 3em;
}

#map {
  width: 75%;
  height: 400px;
  align-content: center;
  border-radius: 10px;
  
}

.navbar-fixed nav {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}


@media (max-width: 550px) {
 
  body{
    background-size: 90%;
    background-position-x: center;
  }
}