#map {
  width: 75%;
  height: 400px;
}

/* footer section  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #333;
  color: #fff;
}

.github-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.github-username {
  display: none;
}

a:hover .github-username {
  display: block;
  color: rgb(0, 234, 255);
  background-color: black;
}